<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="swiftpro_ros2_control" params="prefix">

    <ros2_control name="swiftpro" type="system">
      <hardware>
        <plugin>swiftpro/SwiftProHardware</plugin>
        <param name="serial_port">/dev/ttyACM0</param>
        <param name="test">false</param>
      </hardware>

      <joint name="${prefix}/joint1">
        <command_interface name="velocity">
          <param name="min">-0.5</param>
          <param name="max">0.5</param>
        </command_interface>
        <state_interface name="position"/>
      </joint>
      <joint name="${prefix}/joint2">
        <command_interface name="velocity">
          <param name="min">-0.5</param>
          <param name="max">0.5</param>
        </command_interface>
        <state_interface name="position"/>
      </joint>
      <joint name="${prefix}/joint3">
        <command_interface name="velocity">
          <param name="min">-0.5</param>
          <param name="max">0.5</param>
        </command_interface>
        <state_interface name="position"/>
      </joint>
      <joint name="${prefix}/joint4">
        <command_interface name="velocity">
          <param name="min">-0.5</param>
          <param name="max">0.5</param>
        </command_interface>
        <state_interface name="position"/>
      </joint>

      <gpio name="${prefix}/limit_switch">
        <state_interface name="limit_switch"/>
      </gpio>
      <gpio name="${prefix}/pump">
        <command_interface name="pump"/>
        <state_interface name="pump"/>
      </gpio>
    </ros2_control>

  </xacro:macro>

</robot>